#preloader {
    position: fixed;
    background: #fff url('preloader.png') no-repeat center;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    transform: scale(1.22);
    /* animation: big 5s; */
}

#preloader::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 300px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    animation: big 5s;
}

@keyframes big {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(500px);
    }
}